<div>
  <h1 class="text-center my-5"><%=title%></h1>
  <div class="row">
      <div class="col-md-4 mb-3">
          <form name="frm">
              <div class="input-group">
                  <input name="query" value="Node.js" class="form-control">
                  <button class="btn btn-success">검색</button>
              </div>
          </form>
      </div>
  </div>
  <div id="div_list"></div>
  <div class="text-center">
      <button id="prev" class="btn btn-primary">이전</button>
      <span id="page" class="mx-3">1</span>
      <button id="next" class="btn btn-primary">다음</button>
  </div>
  <script id="temp_list" type="x-handlebars-template">
      <table class="table table-striped table-hover">
          {{#each documents}}
          <tr>
              <td><img src="{{funThumbnail thumbnail}}" width="50px" ></td>
              <td><div class="ellipsis">{{title}}</div></td>
              <td>{{price}}</td>
              <td><div class="ellipsis">{{authors}}</div></td>
              <td width="60"><%-include("modal_book.ejs")%></td>
              <td width="60"><button class="btn btn-primary btn-sm cart" book="{{strBook @this}}">카트</button></td>
          </tr>    
          {{/each}}
      </table>
  </script>
  <script>
      Handlebars.registerHelper("funThumbnail", function(thumbnail){
          if(thumbnail) return thumbnail;
          else return "/images/no_image.png";
      })
  </script>
  <script>
      Handlebars.registerHelper("strBook", function(book){
        return JSON.stringify(book);
      });
  </script>
</div>
<script type="module">
  import {app} from '/javascripts/config.js';
  import {getDatabase, ref, set, get} from "https://www.gstatic.com/firebasejs/10.13.2/firebase-database.js";
  const db = getDatabase(app);

  let query=$(frm.query).val();
  let page=1;
  let size=5;

  getList();

  //다음버튼을 클릭한 경우
  $("#next").on("click", function(){
      page++;
      getList();
  });

  //이전버튼을 클릭한 경우
  $("#prev").on("click", function(){
      page--;
      getList();
  });

  //폼이 Submit되는 경우
  $(frm).on("submit", function(e){
      e.preventDefault();
      query = $(frm.query).val();
      if(query == "") {
          alert("검색어를 입력하세요!");
      }else{
          getList();
      }
  });

  //장바구니 버튼을 클릭한 경우
  $("div_list").on("click", ".cart", function(){
        if(email){

        }else{
            sessionStorage.setItem("target",window.location.href )
            location.href="/users/login"
        }
    })

  //도서목록 함수
  function getList(){
      $.ajax({
          type:"get",
          url:"https://dapi.kakao.com/v3/search/book?target=title",
          data: {query:query, size:size, page:page},
          headers:{
              "Authorization": "KakaoAK 7dc21d5852274d162cc3c15163505083"
          },
          success:function(data){
              console.log(data);
              const temp=Handlebars.compile($("#temp_list").html());
              $("#div_list").html(temp(data));

              const last = Math.ceil(data.meta.pageable_count/size);
              $("#page").html(page + "/" + last);

              if(page==1) $("#prev").attr("disabled", true)
              else $("#prev").attr("disabled", false)
          
              if(data.meta.is_end) $("#next").attr("disabled", true)
              else $("#next").attr("disabled", false)
          }
      });
  }
</script>