<div>
    <h1 class="text-center my-5"><%=title%></h1>
    <div class="row">
      <div class="col-md-4 col-lg-3">
        <form name="frm" class="input-group">
          <input type="text" value="인하대학교" class="form-control" name="query" />
          <button class="btn btn-primary" type="submit">검색</button>
        </form>
      </div>
    </div>
    <div id="div_list"></div>
    <div class="text-center">
      <button id="prev" class="btn btn-primary btn-small px-3">이전</button>
      <span id="page" class="mx-3">1</span>
      <button id="next" class="btn btn-primary btn-small px-3">다음</button>
    </div>
    <script id="temp_list" type="x-handlebars-template">
      <table class="table table-striped table-hover">
        {{#each documents}}
        <tr>
          <td><a href="{{url}}">{{{title}}}</a></td>
          <td>{{blogname}}</td>
        </tr>
        {{/each}}
      </table>
    </script>
  </div>
  
  <script>
    let query = "인하대학교";
    let page = 1;
    let size = 10;
  
    getList();
  
    $("#next").click(function () {
      page++;
      getList();
    });
  
    $("#prev").click(function () {
      page--;
      getList();
    });
  
    $(frm).on("submit", function (e) {
      e.preventDefault();
      query = $(frm.query).val();
      page = 1;
      if (query == "") {
        alert("검색어를 입력하거라");
      } else {
        getList();
      }
    });
  
    function getList() {
      $.ajax({
        type: "get",
        url: "   https://dapi.kakao.com/v2/search/blog",
        headers: { Authorization: "KakaoAK 54b6688221dead45827042df7e297c2d" },
        data: { query, page, size },
        success: function (data) {
          console.log(data);
          const temp = Handlebars.compile($("#temp_list").html());
          $("#div_list").html(temp(data));
          const last = Math.ceil(data.meta.pageable_count / size);
          $("#page").html(`${page}/${last}`);
          if (page == 1) {
            $("#prev").attr("disabled", true);
          } else {
            $("#prev").attr("disabled", false);
          }
          if (data.meta.is_end) {
            $("#next").attr("disabled", true);
          } else {
            $("#next").attr("disabled", false);
          }
        },
      });
    }
  </script>
  