<div class="my-5 row justify-content-center" >
    <h1 class="text-center mb-5"><%=title%></h1>
    <div class="col-10">
        <div class="text-end mb-2 buttons" style="display: none;">
            <button class="btn btn-success btn-sm update px-3 " >수정</button>
            <button class="btn btn-danger btn-sm  px-3 delete">삭제</button>
        </div>
        <div class="card">
            <div class="card-body">
                <h5 id="title">여기에 제목 출력</h5>
                <hr>
                <div id="contents" style="white-space: pre-wrap">여기에 내용 출력</div>
            </div>
            <div class="card-footer">
                Posted By <span id="email" style="color: blue">email</span> on <span id="date">2024.11.23</span>
            </div>
        </div>
    </div>
</div>

<script type="module">
    import {app} from '/javascripts/config.js'
    import {getFirestore, doc, getDoc ,deleteDoc}  from "https://www.gstatic.com/firebasejs/10.13.2/firebase-firestore.js";
    const db = getFirestore(app);

    const id="<%=id%>";

    const snapshot = await getDoc(doc(db,`bbs/${id}`));
    if(snapshot.exists()){
        const bbs=snapshot.data();
        $('#title').html(snapshot.data().title);
        $('#contents').html(snapshot.data().contents);
        $('#email').html(snapshot.data().email);
        $('#date').html(snapshot.data().date);
        if(email==bbs.email) $(".buttons").show();
    }
    $(".delete").on("click",async function(){
        if(confirm("게시글을 삭제하실래요?")){
            await deleteDoc(doc(db,`bbs/${id}`));
            location.href="/bbs";
        }
    });

    $(".update").on("click",function(){
        location.href=`/bbs/update/${id}` ;
    });
</script>